body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #006bb3;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.hero {
    text-align: center;
    padding: 50px;
}
